@primary_background_color: #DB2828;
@primary_color: #FFFFFF;

@info_color: #A333C8;
@warning_color: #F2711C;
@success_color: #21BA45;
@error_color: #DB2828;

.opacity (@opacity: 0.5) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}
.translateX (@x) {
	-webkit-transform: translateX(@x);
	-moz-transform: translateX(@x);
	-ms-transform: translateX(@x);
  -o-transform: translateX(@x);
  transform: translateX(@x);
}
.translateY (@x) {
	-webkit-transform: translateY(@x);
	-moz-transform: translateY(@x);
	-ms-transform: translateY(@x);
  -o-transform: translateY(@x);
  transform: translateY(@x);
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.border-radius(@tl, @tr, @br, @bl) {
  -webkit-border-radius: @tl @tr @br @bl;
	-moz-border-radius: @tl @tr @br @bl;
	border-radius: @tl @tr @br @bl;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.transition (@transition) {
  transition: @transition;
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
}
.expanded(@begin, @end) {
  &.expanded-appear,
  &.expanded-enter,
  &.expanded-leave.expanded-leave-active {
    @begin();
  }
  &.expanded-appear.expanded-appear-active,
  &.expanded-enter.expanded-enter-active,
  &.expanded-leave {
    @end();
  }
}
.opacity-transition(@start, @end, @duration) {
  .transition(opacity @duration cubic-bezier(0.7, 0, 0.175, 1) 0s);
  .expanded({
    .opacity(@start);
  }, {
    .opacity(@end);
  })
}
.translate-x-transition(@start, @end, @duration) {
  .transition(transform @duration cubic-bezier(0.7, 0, 0.175, 1) 0s);
  .expanded({
    .translateX(@start);
  }, {
    .translateX(@end);
  })
}
.translate-y-transition(@start, @end, @duration) {
  .transition(transform @duration cubic-bezier(0.7, 0, 0.175, 1) 0s);
  .expanded({
    .translateY(@start);
  }, {
    .translateY(@end);
  })
}

&.next-appear, &.next-enter, &.next-leave, &.back-appear, &.back-enter, &.back-leave {
	.transition (transform .5s cubic-bezier(0.7, 0, 0.175, 1) 0s);
}
&.next-appear, &.next-enter {
	.translateX (100%);
	z-index: 2 !important;
}
&.next-appear.next-appear-active, &.next-enter.next-enter-active {
	.translateX (0);
}
&.next-leave {
	.translateX (0);
	z-index: 1 !important;
}
&.next-leave.next-leave-active {
	.translateX (-25%);
}
&.back-leave {
	.translateX (0);
	z-index: 2 !important;
}
&.back-leave.back-leave-active {
	.translateX (100%);
}
&.back-appear, &.back-enter {
	.translateX (-25%);
	z-index: 1 !important;
}
&.back-appear.back-appear-active, &.back-enter.back-enter-active {
	.translateX (0);
}

&.slide-next-appear, &.slide-next-enter, &.slide-next-leave, &.slide-back-appear, &.slide-back-enter, &.slide-back-leave {
	.transition (transform .5s cubic-bezier(0.7, 0, 0.175, 1) 0s);
}
&.slide-next-appear, &.slide-next-enter {
	.translateX (100%);
}
&.slide-next-appear.slide-next-appear-active, &.slide-next-enter.slide-next-enter-active {
	.translateX (0);
}
&.slide-next-leave {
	.translateX (0);
}
&.slide-next-leave.slide-next-leave-active {
	.translateX (-100%);
}
&.slide-back-leave {
	.translateX (0);
}
&.slide-back-leave.slide-back-leave-active {
	.translateX (100%);
}
&.slide-back-appear, &.slide-back-enter {
	.translateX (-100%);
}
&.slide-back-appear.slide-back-appear-active, &.slide-back-enter.slide-back-enter-active {
	.translateX (0);
}

@import './components/account/style';
@import './components/chrome/style';
@import './components/drawer/style';
@import './components/feed/style';
@import './components/modal/style';
@import './components/navigation/style';
@import './components/notifications/style';
@import './components/page/style';
@import './components/search/style';
@import './components/tabs/style';
@import './components/tasks/style';

@import '../../ui/style';
@import '../../apps/reimbursement/admin/style';


body.cordova {
	.chrome-panel {
	  top: 65px;
	}
	.chrome-topbar {
	  padding-top: 15px;
	  height: 65px;
	}
	.chrome-flash {
		padding-top: 30px;
	}
	.chrome-navigation-title {
	  height: 65px;
	  padding-top: 15px;
	}
	.chrome-account-identity {
		padding-top: 63px;
	}
	.chrome-search-bar {
	  flex: 0 0 65px;
		.chrome-search-form {
			padding-top: 23px;
		}
		.chrome-search-cancel {
			padding-top: 30px;
		}
	}
	.chrome-search-landing,
	.chrome-search-results {
	  top: 65px;
	}
	.form-header {
	  flex: 0 0 65px;
		.form-header-title,
		a {
			padding-top: 30px;
		}
	}
	.chrome-notifications-header {
		flex: 0 0 65px;
		.chrome-notifications-header-title,
		a {
			padding-top: 30px;
		}
	}
}
