#platform {
  width: 100%;
  height: 100%;
}

.chrome-teams {
  flex: 1;
  display: flex;
}
.chrome-teams-panel {
  flex: 0 0 60px;
  background-color: #000;
  z-index: 11;
}
.chrome-teams-add,
.chrome-team {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 6px;
  cursor: pointer;
  &:hover {
    img {
      border-color: #444;
    }
  }
  &:hover {
    .chrome-teams-add-button {
      .opacity(1);
    }
  }
  &.active {
    img {
      .opacity(1);
    }
  }
  .chrome-team-label {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 8px;
    font-weight: bold;
    line-height: 16px;
    padding: 0;
    background-color: @primary_background_color;
    color: @primary_color;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    .border-radius(50%);
  }
  .chrome-teams-add-button {
    .border-radius(10px);
    .opacity(.9);
    border: 4px solid #000;
    padding: 10px;
    background: #444;
    text-align: center;
    i {
      color: #000;
    }
  }
  img {
    .border-radius(10px);
    .opacity(.5);
    border: 4px solid #000;
    width: 48px;
    height: 48px;
  }
}
.chrome-teams-workspace {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.chrome-application {
  flex: 1;
  flex-direction: column;
  display: flex;
}
.chrome-topbar {
  flex: 0 0 50px;
  display: flex;
  background-color: @primary_background_color;
}
.chrome-workspace {
  flex: 1;
  position: relative;
}
.chrome-filler {
  flex: 1
}
.chrome-topbar-icon {
  display: flex;
  position: relative;
  flex: 0 0 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 18px;
  padding: 16px;
  padding: 11px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  img {
    width: 28px;
    height: 28px;
  }
  i {
    margin: auto;
    color: @primary_color;
  }
  .chrome-alerts-label {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 8px;
    font-weight: bold;
    line-height: 16px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: @primary_background_color;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    .border-radius(50%);
  }
}
.chrome-flash {
  .translate-y-transition(-100%, 0, .25s);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  min-height: 100px;
  display: flex;
  padding: 15px;
  color: #FFF;
  z-index: 10;
  p {
    margin: 0;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
  }
  i {
    display: block;
    margin: 0 auto;
    font-size: 1.8em;
  }
  &.info {
    background-color: @info_color;
  }
  &.warning {
    background-color: @warning_color;
  }
  &.success {
    background-color: @success_color;
  }
  &.error {
    background-color: @error_color;
  }
}
