#platform {
  width: 100%;
  height: 100%;
}
.chrome-session {
  background: @primary_background_color;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex: 1;
  .chrome-session-widget {
    max-width: 320px;
    width: 100%;
    padding: 15px;
    margin: auto;
  }
  &.chrome-signin {
    .translate-x-transition(-100%, 0, .5s);
    .ui.form {
      .email-field {
        margin-bottom: 0;
        input {
          .border-radius(.28571429rem, .28571429rem, 0, 0);
          border-width: 0 0 1px 0;
          border-color: #DDD;
        }
      }
      .password-field {
        input {
          .border-radius(0, 0, .28571429rem, .28571429rem);
          border: 0px;
        }
      }
    }
  }
  &.chrome-forgot {
    .translate-x-transition(100%, 0, .5s);
  }
  &.chrome-reset-security {
    .translate-x-transition(-100%, 0, .5s);
  }
  &.chrome-reset-password {
    .translate-x-transition(100%, 0, .5s);
  }
  h1, h3, p {
    margin: 0 15px 15px;
    text-align: center;
    color: @primary_color;
  }
  label {
    color: @primary_color !important;
  }
  .ui.button {
    background-color: lighten(@primary_background_color, -10%);
    color: @primary_color;
    &:hover {
      .transition(background-color 0.5s cubic-bezier(0.7, 0, 0.175, 1) 0s);
      background-color: lighten(@primary_background_color, -15%);
    }
  }
  p {
    text-align: center;
    cursor: pointer;
  }
  a {
    color: @primary_color;
  }
}
.chrome {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.chrome-topbar {
  height: 50px;
  display: flex;
  background-color: @primary_background_color;
}
.chrome-filler {
  flex: 1
}
.chrome-topbar-icon {
  display: flex;
  position: relative;
  flex: 0 0 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 18px;
  padding: 16px;
  i {
    margin: auto;
    color: @primary_color;
  }
  .chrome-alerts-label {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 8px;
    font-weight: bold;
    line-height: 16px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: @primary_background_color;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    .border-radius(50%);
  }
}
.chrome-account {
  padding: 11px;
  img {
    width: 28px;
    height: 28px;
  }
}
.chrome-flash {
  .translate-y-transition(-100%, 0, .25s);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  min-height: 100px;
  display: flex;
  padding: 15px;
  color: #FFF;
  z-index: 10;
  p {
    margin: 0;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
  }
  i {
    display: block;
    margin: 0 auto;
    font-size: 1.8em;
  }
  &.info {
    background-color: @info_color;
  }
  &.warning {
    background-color: @warning_color;
  }
  &.success {
    background-color: @success_color;
  }
  &.error {
    background-color: @error_color;
  }
}
.chrome-drawer {
  &.chrome-drawer-left {
    .translate-x-transition(-100%, 0, .25s);
    left: 0;
  }
  &.chrome-drawer-right {
    .translate-x-transition(100%, 0, .25s);
    right: 0;
  }
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 11;
  @media only screen and (max-width: 380px) {
    width: ~"calc(100% - 60px)";
  }
  @media only screen and (min-width: 381px) {
    width: 320px;
  }
}
.chrome-drawer-overlay {
  .opacity-transition(0, 0.5, .25s);
  .opacity(0.5);
  background-color: #000;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chrome-account-panel  {
  flex: 1;
  background: #FFF;
}
.chrome-account-identity  {
  background: #EEE;
  padding: 45px 0;
  img {
    border: 5px solid #000;
    width: 40%;
    margin: 0 auto 20px;
  }
  h2 {
    text-align: center;
    margin: 0;
  }
  p {
    text-align: center;
    margin: 0;
    color: #888;
  }
}
.chrome-account-task {
  background-color: #FFF;
  display: block;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #EEE;
  }
  i {
    color: #666;
    font-size: 18px;
    margin-right: 10px;
  }
}
.chrome-panel {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #FFF;
}
.chrome-modal {
  .translate-y-transition(100%, 0, .5s);
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  display: flex;
  flex-direction: column;
}
