.filter {
  height: 400px;
  position: relative;
}
.filter-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.filter-header {
  flex: 0 0 50px;
  display: flex;
  background-color: #F9F9F9;
  border-bottom: 1px solid #EEEEEE;
}
.filter-header-back {
  flex: 0 0 110px;
  padding: 15px 0 15px 15px;
}
.filter-header-title {
  flex: 1;
  padding: 15px 0;
  font-weight: bold;
  text-align: center;
}
.filter-header-next {
  flex: 0 0 90px;
  text-align: right;
  padding: 15px 15px 15px 0;
}
.filter-body {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #FFFFFF;
}
.filter-item {
  padding: 15px;
  background-color: #FFFFFF;
  position: relative;
  border-bottom: 1px solid #EEEEEE;
  .label {
    .border-radius(5px);
    position: absolute;
    right: 25px;
    background-color: #888;
    color: #FFF;
    padding: 10px;
  }
  .icon {
    position: absolute;
    right: 15px;
  }
  .chevron {
    color: #BBB;
  }
}
.filter-footer {
  flex: 0 0 50px;
  padding: 15px;
  text-align: center;
  background-color: #F9F9F9;
  border-top: 1px solid #EEEEEE;
}
