.chrome-drawer {
  .translate-x-transition(-100%, 0, .25s);
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  background-color: rgb(68, 68, 68);
  flex-direction: column;
  z-index: 11;
  @media only screen and (max-width: 414px) {
    width: ~"calc(100% - 42px)";
  }
  @media only screen and (min-width: 415px) {
    width: 320px;
  }
}
.chrome-drawer-overlay {
  .opacity-transition(0, 0.2, .25s);
  .opacity(0.2);
  background-color: rgb(0, 0, 0);
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chrome-presence {
  flex: 0 0 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  .chrome-presence-avatar {
    flex: 0 0 50px;
    padding: 8px;
    img {
      display: block;
      width: 34px;
      height: 34px;
    }
  }
  .chrome-presence-identity {
    flex: 1;
    padding: 8px 0;
    h2 {
      margin: 0;
      font-size: 16px;
      line-height: 17px;
    }
    p {
      margin: 0;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
.chrome-apps {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.chrome-app {
  .chrome-app-title {
    display: block;
    cursor: pointer;
    color: #CCC;
    padding: 5px;
    &.active {
      color: rgb(255, 255, 255);
    }
    &:hover {
      background-color: rgb(85,85,85);
    }
    i {
      background-color: @primary_background_color;
      color: @primary_color;
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 16px;
      vertical-align: middle;
      text-align: center;
      margin-right: 10px;
    }
  }
  .chrome-app-menu {
    .transition(max-height 0.25s cubic-bezier(0.7, 0, 0.175, 1) 0s);
    background-color: rgb(51, 51, 51);
    max-height: 500px;
    overflow: hidden;
    &.expanded-enter,
    &.expanded-leave.expanded-leave-active {
      max-height: 0;
    }
    &.expanded-enter.expanded-enter-active,
    &.expanded-leave {
      max-height: 500px;
    }
    .chrome-app-item {
      padding: 10px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      &:hover {
        background-color: rgb(85, 85, 85);
      }
    }
  }
}
.chrome-app-divider {
  height: 1px;
  background-color: #EEE;
}
