.chrome-drawer {
  &.chrome-drawer-left {
    .translate-x-transition(-100%, 0, .25s);
    left: 0;
  }
  &.chrome-drawer-right {
    .translate-x-transition(100%, 0, .25s);
    right: 0;
  }
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 11;
  @media only screen and (max-width: 380px) {
    width: ~"calc(100% - 60px)";
  }
  @media only screen and (min-width: 381px) {
    width: 320px;
  }
}
.chrome-drawer-overlay {
  .opacity-transition(0, 0.5, .25s);
  .opacity(0.5);
  background-color: #000;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.chrome-account-panel  {
  flex: 1;
  background: #FFF;
}
.chrome-account-identity  {
  background: #EEE;
  padding: 45px 0;
  img {
    border: 5px solid #000;
    width: 40%;
    margin: 0 auto 20px;
  }
  h2 {
    text-align: center;
    margin: 0;
  }
  p {
    text-align: center;
    margin: 0;
    color: #888;
  }
}
.chrome-account-task {
  background-color: #FFF;
  display: block;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: #EEE;
  }
  i {
    color: #666;
    font-size: 18px;
    margin-right: 10px;
  }
}
