@import './components/collection/style';
@import './components/tabs/style';

.card {
  border: none !important;
  box-shadow: none !important;
  .image {
    background: none;
    margin: 20px 0;
    img {
      border: 5px solid #000;
      width: 50%;
      margin: 0 auto;
    }
  }
  .ui.list {
    border-bottom: 1px solid #DDD;
    @media only screen and (max-width: 767px) {
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
      background-color: #FFF;
      margin: 20px !important;
    }
  }
  .item {
    padding: 10px 20px !important;
    border-top: 1px solid #DDD;
  }
}
.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  .menu {
    flex: 0 0 42px;
  }
  .segment {
    flex: 1;
  }
}
