.collection-toolbar {
  padding: 18px;
}

.table-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.table {
  display: table;
  width: 100%;
  border-top: 1px solid #DDD;
}
.table-head {
  display: table-header-group;
}
.table-body {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.table-header,
.table-cell {
  display: table-cell;
  border-bottom: 1px solid #DDD;
  padding: 18px;
}
.table-header {
  background-color: #F9FAFB;
  font-weight: bold;
  position: relative;
  i {
    position: absolute;
    top: 21px;
    right: 21px;
    color: #AAA;
  }
}
@media only screen and (max-width: 600px) {
  .table-header:not(.mobile),
  .table-cell:not(.mobile) {
    display: none;
  }
}
