
@table_header_background_color: #F9FAFB;

.collection {
  width: 100%;
  display: flex;
  flex: 1;
}
.collection-toolbar {
  padding: 18px;
  border-bottom: 1px solid #DDD;
}
.collection-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.table-fixed {
  display: table;
  width: 100%;
  flex: 0 0 45px;
}
.table-scroll {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.table {
  display: table;
  width: 100%;
}
.table-head {
  display: table-header-group;
  .table-header {
    background-color: @table_header_background_color;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    &:first-child {
      border-left: none;
    }
    &:hover {
      background-color: lighten(@table_header_background_color, -5%);
    }
    i {
      position: absolute;
      right: 18px;
      color: #AAA;
    }
  }
}
.table-body {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.table-header,
.table-cell {
  display: table-cell;
  border-bottom: 1px solid #DDD;
  padding: 12px 18px;
}
.loading {
  padding: 12px 18px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .table-header:not(.mobile),
  .table-cell:not(.mobile) {
    display: none;
  }
}
