
@table_header_background_color: #F9FAFB;

.collection-toolbar {
  padding: 18px;
}
.table-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}
.table {
  display: table;
  width: 100%;
  border-top: 1px solid #DDD;
}
.table-head {
  display: table-header-group;
  .table-header {
    background-color: @table_header_background_color;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: lighten(@table_header_background_color, -5%);
    }
    i {
      position: absolute;
      right: 18px;
      color: #AAA;
    }
  }
}
.table-body {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.table-header,
.table-cell {
  display: table-cell;
  border-bottom: 1px solid #DDD;
  padding: 12px 18px;
}
.loading {
  padding: 12px 18px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .table-header:not(.mobile),
  .table-cell:not(.mobile) {
    display: none;
  }
}
