<%
styles = {}
for (var app of apps) {
  if(fs.existsSync(path.join(app.abspath, 'admin','style.less'))) {
    styles[app.name] = path.join(app.relpath, 'admin','style')
  }
}
%>@import './core';
@import './components/style';
@import './views/style';
<% for (var index in styles) { %>@import '<%= styles[index] %>';
<% } %>
