.chrome-tasks-overlay {
  .opacity-transition(0, 0.5, .25s);
  .opacity(0.5);
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
}
.chrome-tasks {
  z-index: 21;
  position: fixed;
  border: 1px solid #CCC;
  @media only screen and (max-width: 414px) {
    .translate-y-transition(100%, 0, .25s);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
  }
  @media only screen and (min-width: 415px) {
    .opacity-transition(0, 1, .25s);
    width: 320px;
    top: 30%;
    left: 50%;
    margin-left: -160px;
  }
}
.chrome-task {
  border-bottom: 1px solid #CCC;
}
.chrome-task,
.chrome-cancel {
  background-color: #FFF;
  display: block;
  padding: 15px;
  text-align: center;
  color: #1e70bf;
}
.chrome-forbidden {
  margin: auto;
  text-align: center;
  width: 320px;
  color: #CCC;
  i {
    font-size: 100px;
    line-height: 100px;
  }
  p {
    font-size: 32px;
    line-height: 48px;
  }
}
.chrome-modal {
  .translate-y-transition(100%, 0, .25s);
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  display: flex;
  flex-direction: column;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-header {
  flex: 0 0 50px;
  display: flex;
  background-color: @primary_background_color;
}
.form-header a {
  display: block;
  color: #FFF;
  padding: 15px;
  cursor: pointer;
}
.form-header-left {
  flex: 1;
}
.form-header-right {
  flex: 1;
  text-align: right;
}
.form-body {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}
