@primary_background_color: #DB2828;
@primary_color: #FFFFFF;

@success_background_color: #21BA45;
@success_color: #FFF;

.opacity (@opacity: 0.5) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}
.translate (@x) {
	-webkit-transform: translateX(@x);
	-moz-transform: translateX(@x);
	-ms-transform: translateX(@x);
  -o-transform: translateX(@x);
  transform: translateX(@x);
}
.border-radius(@radius) {
  -webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.transition (@transition) {
  transition: @transition;
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
}
.expanded(@begin, @end) {
  &.expanded-appear,
  &.expanded-enter,
  &.expanded-leave.expanded-leave-active {
    @begin();
  }
  &.expanded-appear.expanded-appear-active,
  &.expanded-enter.expanded-enter-active,
  &.expanded-leave {
    @end();
  }
}
.opacity-transition(@start, @end, @duration) {
  .transition(opacity @duration cubic-bezier(0.7, 0, 0.175, 1) 0s);
  .expanded({
    .opacity(@start);
  }, {
    .opacity(@end);
  })
}
.translate-x-transition(@start, @end, @duration) {
  .transition(transform @duration cubic-bezier(0.7, 0, 0.175, 1) 0s);
  .expanded({
    .translate(@start);
  }, {
    .translate(@end);
  })
}

@import 'apps/crm/admin';
@import 'apps/expenses/admin';
@import 'platform/admin';
